.cabecera{
    background-color: aqua;
    width: 35%;
    text-align: center;
    margin: auto ;
}
.checkbox{
    display: inline-block;
    box-shadow: -8px -8px 15px #fff, 8px 8px 25px rgba(0,0,0,0.15);
    border-radius: 30px;
}   
#toggle{
    display: none;
}
.switch{
    --width: 100px;
    position: relative;
    display: flex;
    align-items: center;
    width: var(--width);
    height: 45px;
    outline: 5px solid #eaeef0;
    background-color: #fff;
    cursor: pointer;
    border-radius: inherit;
    overflow: hidden;
}
.switch::before{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #42abff, #ff4f8b, #ffeb3b);
    opacity: 0;
    transition: opacity .5s;
}
.switch::after{
    --size:35px;
    --gap: 5px;
    content: "\f186";
    font-family: 'FontAwesome';
    display: grid;
    place-items: center;
    position: absolute;
    left: 0;
    transform: translateX(var(--gap));
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background-color: #eaeef0;
    transition: all .25s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#toggle:checked~.switch::before{
    opacity: 1;
}
#toggle:checked~.switch::after{
    --distance: calc((var(--width) - var(--size) - var(--gap)));
    content:"\f186";
    transform: translateX(var(--distance));
}
.dark{
    background-color: black;
}
.dark header{
    background-color: rgb(140, 142, 142);
    color: white;
}